body{
    margin: 20px;
    background: url("https://i.pinimg.com/originals/1f/2e/18/1f2e1818d571420e898e8c88426a0e44.jpg")
}
.panel{
    padding: 0;
}
.panel-heading{
    background: radial-gradient(rgb(172, 37, 27), gold);
    font-family: 'UnifrakturCook', cursive;
}
.panel-title{
    font-size: 35px !important;
}
.panel-body{
    font-family: 'Trade Winds', cursive;
    font-size: 20px;
}
.jumbotron{
    text-align: center;
    font-family: 'UnifrakturCook', cursive;
    border-radius: 5px;
    color: rgb(172, 37, 27);
    background: url("https://images.pottermore.com/bxd3o8b291gf/3DV0Eo1jOMoOaAyC2c8K4S/d66c552945e41e2877eab82eaa752e22/KingsCross_PM_B1C6M1_HogwartsExpressExterior_Moment.jpg?w=1024");
}
.btn {
    background-color: rgb(172, 37, 27)
}

